.sou-header {
	padding: __remcalc(25) 0;

	@include media-breakpoint-up("sm") {
		padding: __remcalc(33) 0;
		height: 118px;
	}

	a {
		font-size: __remcalc(14);
		line-height: 1.1em;
		text-decoration: none;
	}
}
